################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoogleHash/Pizza/obj/Debug
/GoogleHash/.vs/GoogleHash/v15
